@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FF Shamel';
    src: url('/public/assets/front-end/fonts/FF_SHAMEL_FAMILY_SANS_ONE_BOLD.TTF') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'FF Shamellight';
    src: url('/public/assets/front-end/fonts/FF_SHAMEL_FAMILY_SANS_ONE_BOOK.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
  }